@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: false;
  color-scheme: dark;

  --color-base-100: #111111;
  --color-base-200: #191919;
  --color-base-300: #d9d9d9;
  --color-base-content: #ffffff;

  --color-primary: #605dff;
  --color-primary-content: #ffffff;
  --color-secondary: #c3c3c3;
  --color-accent: #00d3bb;
  --color-neutral: #1e1e1e;
  --color-warning: #fcb700;

  --color-primary-rgb: 96,93,255;
  --color-accent-rgb: 0,211,187;
  --color-warning-rgb: 252,183,0;
}
@plugin "daisyui/theme" {
  name: "light";
  default: false;
  color-scheme: light;

  --color-base-100: #ffffff;
  --color-base-200: #c3c3c3;
  --color-base-300: #1e1e1e;
  --color-base-content: #ffffff;

  --color-primary: #605dff;
  --color-primary-content: #1e1e1e;
  --color-secondary: #525252;
  --color-accent: #00af9b;
  --color-neutral: #bebebe;
  --color-warning: #d79d03;

  --color-primary-rgb: 96,93,255;
  --color-accent-rgb: 0,175,155;
  --color-warning-rgb: 215,157,3;
}
