@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: false;
  color-scheme: dark;

  --color-base-100: #111111;
  --color-base-200: #191919;
  --color-base-300: #d9d9d9;
  --color-base-content: #ffffff;

  --color-primary: #605dff;
  --color-primary-content: #ffffff;
  --color-secondary: #c3c3c3;
  --color-accent: #818cf8;
  --color-neutral: #1e1e1e;

  --color-info: #38bdf8;
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;
}
@plugin "daisyui/theme" {
  name: "light";
  default: false;
  color-scheme: light;

  --color-base-100: #FFFFFF;
  --color-base-200: #C3C3C3;
  --color-base-300: #1E1E1E;
  --color-base-content: #ffffff;

  --color-primary: #605dff;
  --color-primary-content: #1E1E1E;
  --color-secondary: #525252;
  --color-accent: #818cf8;
  --color-neutral: #BEBEBE;

  --color-info: #38bdf8;
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;
}